/* h1{
    color: yellow;
}

div{
   background-color: black; 
} */
h1{
    text-align: center;
    background: greenyellow;
    height: 50px;
    padding: 20px 0;
}
.sub-box{
    background:orange;
}
.coment{
    color:rgb(32, 199, 26);
}

span{
    color: yellow;
}
.pink{
    color: pink;
}
.skybule{
    color: skyblue;
}
.red{
    color: red;
}

.main-box1{
    float: left;
    background:black;
    color: azure;
    width: 50%;
    height:680px;
    /* overflow:visible; */

}
.main-box2{
    float: right;
    background:olivedrab;
    color: azure;
    width: 50%;
    height: 340px;
   padding: auto;
}
.main-box3{
    float: left;
    background:black;
    color: azure;
    width: 50%;
    height:600px;
    /* overflow:visible; */
}
.main-box4{
    float: right;
    background:black;
    color: azure;
    width: 50%;
    height:600px;
    /* overflow:visible; */
}

.main-box5{
    float: right;
    background:olivedrab;
    color: azure;
    width: 50%;
    height: 340px;
   padding: auto;
}
#last-coment{
    display:none;
}

table{
    /* position: absolute; */
    /* float: left; */
    float: right;
	bottom: 0;
    height: 50px;
    width: 50%;
    border-collapse: collapse;    
}
/* table,th,td{
    /* border: 1px solid black; */ 
/* } */ 

button{

    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color:black;
    color: azure;
    font-size: 15px;
    box-shadow: 2px 2px 0 2px gray;
}

#info-output{
    float: left;
    margin-top:40px;
    line-height: 2;
    width: 50%;
}
img{
    float: right;
    margin-top: 80px;
    margin-right: 100px;
    width: 280px;
    height: 230px;
    display:none;
}
